<div fxLayout="row" fxLayoutAlign="space-around">
  <div fxFlex="80%">
    <form [formGroup]="addForm" (ngSubmit)="onSubmit(addForm.value)">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" type="text" placeholder="Ex. Something & Associates"/>
        <mat-error *ngIf="name.errors?.required">Required</mat-error>
      </mat-form-field>
    </form>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="space-around">
  <div fxFlex="80%">
    <app-practices-list-item *ngFor="let item of practices"
                             name="{{item.name}}" location="{{item.location}}">
    </app-practices-list-item>
  </div>
</div>
