@import "../../../../colors.less";

.post-verify {
  padding: 1em;
  margin: 1em 0 1em;
  background-color: rgb(141, 226, 126);
  color: rgb(52, 112, 49);
}

.post-verify > div {
  margin-right: 1em;
}

p.register {
  margin-top: 2em;
}

div.server-errors {
  color: @warn-hex;
  margin: .5em 0;
}

button {
  margin-bottom: 1em;
}