<mat-card>
  <mat-card-header>
    <mat-card-title>Forgot your password?</mat-card-title>
  </mat-card-header>
  <mat-card-content *ngIf="!requested">
    <form [formGroup]="recoverForm" (ngSubmit)="onSubmit(recoverForm.value)" class="recover">
      <div class="form-fields">
        <mat-form-field appearance="outline">
          <mat-label>Enter your email address</mat-label>
          <input matInput formControlName="email">
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary" class="form-btn">Next</button>
        <a class="remember" mat-button color="accent" [routerLink]="signInLink">Remember your password?</a>
      </div>
    </form>
  </mat-card-content>
  <mat-card-content *ngIf="requested">
    <div class="requested">
      Check your email for a confirmation code and enter it below.
      <form [formGroup]="recoveryCodeForm" (ngSubmit)="onCodeSubmit(recoveryCodeForm.value)" class="recover">
        <div class="form-fields">
          <mat-form-field appearance="outline">
            <mat-label>Code</mat-label>
            <input matInput formControlName="recoveryCode">
          </mat-form-field>
          <button type="submit" mat-raised-button color="primary" class="form-btn">Submit</button>
        </div>
      </form>
      <p>Didn't receive the email?<br />Maybe there was a typo in your address?<br /><a href=""
          (click)="reset($event)">Try again</a> or check your spam folder.</p>
      <a class="remember" mat-button color="accent" [routerLink]="signInLink">Remember your password?</a>
    </div>
  </mat-card-content>
</mat-card>