<configuration>
  <conversionRule conversionWord="ex" converterClass="com.acme.web.app.logback.ColoredExceptionConverter"/>
  <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%cyan(%d{HH:mm:ss.SSS}) %highlight(%-5level) %green(%logger{24}) {%mdc} %msg%n%ex</pattern>
    </encoder>
  </appender>
  <root level="INFO">
    <appender-ref ref="Console"/>
  </root>
  <logger name="com.acme" level="DEBUG"/>
  <logger name="Application" level="DEBUG"/>
</configuration>
