mat-card-content {
  margin-top: 2em;
}

.mat-form-field {
  width: 100%;
}

.root-error {
  padding: 1em;
  margin: 1em 0 2em;
  background-color: #f44336;
  color: white;
}

.root-error > div {
  margin-right: 1em;
}

p.already {
  margin-top: 2em;
}

button {
  margin-bottom: 1em;
}