<mat-card>
  <mat-card-header>
    <mat-card-title i18n="Register form card title@registerFormCardTitle">Register</mat-card-title>
  </mat-card-header>
  <mat-card-content *ngIf="!requested" name="form-card-content">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
      <div class="root-error" *ngIf="root.errors?.async">
        <div>
          <mat-icon>error</mat-icon>
        </div>
        <div>{{ root.errors?.async }}</div>
      </div>
      <div class="form-fields">
        <mat-form-field>
          <mat-label i18n="Register form email label@registerFormEmailLabel">Email</mat-label>
          <input matInput formControlName="email">
          <mat-error *ngIf="hasError('email', 'required')">
            <span i18n="Register form email required error@registerFormEmailRequiredError">
              Email is required
            </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label i18n="Register form password label@registerFormPasswordLabel">Password</mat-label>
          <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'">
          <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="hasError('password', 'required')"
            i18n="Register form password required error@registerFormPasswordRequiredError">
            Password is required
          </mat-error>
          <mat-error *ngIf="hasError('password', 'async')">{{ displaySafeError('password', 'async') }} ... <a
              (click)="displayExtendedError('password', 'async')">more</a></mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label i18n="Register form first name label@registerFormGivenNameLabel">First Name</mat-label>
          <input matInput formControlName="givenName">
          <mat-error *ngIf="hasError('givenName', 'required')">
            <span i18n="Register form first name required error@registerFormGivenNameRequiredError">First name is
              required</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label i18n="Register form last name label@registerFormFamilyNameLabel">Last Name</mat-label>
          <input matInput formControlName="familyName">
          <mat-error *ngIf="hasError('familyName', 'required')">
            <span i18n="Register form last name required error@registerFormFamilyNameRequiredError">Last name is
              required</span>
          </mat-error>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary" class="form-btn"
          i18n="Register form submit button label@registerFormSubmitButtonLabel">Register</button>
        <p class="center">or</p>
        <button type="button" mat-raised-button color="primary" class="form-btn oidc"
          (click)="onOpenIdRequest('google')"
          i18n="Register form with Google button label@registerFormWithGoogleButtonLabel">
          Register with Google</button>
      </div>
    </form>
  </mat-card-content>
  <mat-card-content *ngIf="requested" name="thankyou-card-content">
    Thank you for creating an account with Acme.
    Before you can login we need to verify your email address.
    Check your inbox for instructions on how to verify your account.
  </mat-card-content>
</mat-card>
<p class="already center">
  <span i18n="Register form sign-in text@registerFormSignInText">Already have an account?</span><br />
  <a mat-button [routerLink]="signInLink"
    i18n="Register form sign-in button label@registerFormSignInButtonLabel">Sign-in now</a>
</p>