<mat-sidenav-container
  class="sidenav-container"
  (backdropClick)="closeSideNav()"
>
  <mat-sidenav
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [opened]="showSideNav"
    [mode]="'push'"
  >
    <mat-toolbar color="primary">Admin Console</mat-toolbar>

    <mat-nav-list (click)="closeSideNav()">
      <a mat-list-item [routerLink]="['/scheduling']">Scheduling</a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="['/providers']">Providers</a>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="header-toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="openSideNav()"
      >
        <mat-icon aria-label="Side nav toggle icon">
          {{ showSideNav ? "clear" : "menu" }}
        </mat-icon>
      </button>
      <div>
        <a mat-icon-button routerLink="/notifications">
          <mat-icon *ngIf="(hasNotifications$ | async) === false"
          >notifications_none
          </mat-icon
          >
          <mat-icon *ngIf="hasNotifications$ | async"
          >notifications_active
          </mat-icon
          >
        </a>
        <a mat-icon-button (click)="manageAccount()">
          <mat-icon>account_circle</mat-icon>
        </a>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
    </mat-toolbar>

    <div class="app-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-menu #menu="matMenu">
  <a mat-menu-item routerLink="/settings">
    <mat-icon>settings</mat-icon>
    <span>Settings</span>
  </a>
  <button mat-menu-item (click)="logout()">
    <mat-icon>power_settings_new</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>
